$text-dark: #434343;
$text-light: #FFFFFF;
$primary-color: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
$text-gradient: linear-gradient(180deg, #A02279 79.31%, rgba(255, 192, 137, 0.6) 100%);
$tertiary-dark: #A3A3A3;
$footer-dark: #1D1D1E;
// Font weights
$font-weight-1: 300;
$font-weight-2: 400;
$font-weight-3: 700;


@font-face {
    font-family: "aeonic";
    src: url(../assets/fonts/AeonikPro-Roman-VF.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "neue";
    src: url(../assets/fonts/Neue-Plak-Extended-Regular.f7d043f6.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "druk";
    src: url(../assets/fonts/Druk-Text-Wide-Bold.db9e48ee.woff) format("woff");
    // font-weight: normal;
    // font-style: normal;
}

@font-face {
    font-family: "integral";
    src: url(../assets/fonts/Integral-CF-Regular.e801d2be.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "integral";
    src: url(../assets/fonts/Integral-CF-ExtraBold.12e9b8ee.woff) format("woff");
    font-weight: 800;
    font-style: normal;
}