// Colors
$text-dark: #434343;
$text-light: #FFFFFF;
$primary-color: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
$text-gradient: linear-gradient(180deg, #A02279 79.31%, rgba(255, 192, 137, 0.6) 100%);
$tertiary-dark: #A3A3A3;
$footer-dark: #1D1D1E;
$background-color: #FFFFFF;

// Font weights
$font-weight-1: 300;
$font-weight-2: 400;
$font-weight-3: 700; 