@use 'utils' as *;
@use 'layout';
@use 'work';
@use 'home';
@use 'about';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-app{
    margin: 0 auto;
    font-family: 'FindersKeepers', sans-serif !important;
    background-color: black;
    min-height: 100vh;
}