@use 'utils' as *;

.nav-section{
    position: fixed;
    bottom: 4em;
    left: 50%;
    transform: translateX(-50%);
    // padding: 0.5em 0.5em;
    width: fit-content;
    background: white;
    border: 2px solid rgba(255, 255, 255, 0.1);
    z-index: 1000;
    --nav-radius: 0.5em;
    --nav-padding: 0.5em;
    border-radius: var(--nav-radius);
    // padding: var(--nav-padding);
    // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    

    .nav-links{
            display: flex;
            text-align: center;
            align-items: center;
            position: relative;
            // gap: 2em;
            // padding: 0.5em 0.5em;



            a.nav-link{
                color: $text-dark;
                text-decoration: none;
                font-size: 2em;
                text-transform: uppercase;
                display: flow-root;
                padding: 0 var(--nav-padding);
                transition: transform 0.12s ease-out, color 0.2s ease-out;
                
                &::before {
                    content: "";
                    display: table;
                    margin-bottom: calc(-0.5lh + 0.17em);
                    transition: none !important;
                }
                
                &::after {
                    content: "";
                    display: table;
                    margin-bottom: calc(-0.5lh + 0.27em);
                    transition: none !important;
                }
                
                &:hover:not(.active) {
                    color: #101010;
                    transform: translateY(1.5px);
                }

                &:hover.active {
                    color: #CBCCCD;
                    transform: translateY(-0.15px);
                }

                &:first-child:not(.active) {
                    padding-left: var(--nav-padding);
                }

                &:last-child:not(.active) {
                    padding-right: var(--nav-padding);
                }

                
        }
        
    }
}

@media screen and (max-width: 890px) {
    .nav-section{

        .nav-links{

            .brand-logo{
                display: block;
            }

            .nav-routes-container{
                display: none;
            }

            .nav-rhs{
                display: flex;
                align-items: center;

                .menu-container{
                    margin-left: 1.5rem;
                    display: flex;
                }
            }
        }
    }
}