@import 'utils';

main.work-section{
    // max-width: 93%;
    // margin: 0 auto;
    font-family: 'aeonic', sans-serif !important;

    section.text-section{

        max-width: 93%;
        margin: 0 auto;
        text-align: center;
        margin-top: 6rem;

        h1 {
            font-size: 2rem;
            margin-bottom: 1rem;
            font-family: 'aeonic', sans-serif;
            font-weight: 800;
            align-items: center;
            align-self: center;
            place-self: center;
            justify-self: center;

            img{
                vertical-align: middle;
            }
        }

        p {
            color: #2E3840;
            text-align: center;
             max-width: 30em;
            margin: 0 auto;
            line-height: 26px;
            font-size: 1.2rem;
            margin-bottom: 3rem;

            & > img {
                width: 5% !important;
                vertical-align: middle;
            }
        }

        & > h1, p{
                & > img {
                    max-width: 100%;
                    width: 3%;
                    height: auto;
                }
        } 
    }

    section.footer-section{
        p {
            color: #2E3840;
            text-align: center;
             max-width: 30em;
            margin: 0 auto;
            line-height: 26px;
            font-size: 1.2rem;
            margin-bottom: 3rem;

            & > img {
                width: 5% !important;
                vertical-align: middle;
            }
        }
    }
}


@media screen and (max-width: 600px) {
    main.work-section{
        section.text-section{
            margin-top: 2rem; 

            h1{
                font-size: 1.5rem;
                margin-bottom: 0.5rem;

            }

            p{
             max-width: 20rem;
            }

            & > h1, p{
                // border: 2px solid red;
                & > img {
                    max-width: 100%;
                    width: 12% !important;
                    height: auto;
                    transform: translateY(-2px)
                }
        } 

        }

        section.footer-section{
            p {
                & > img {
                    width: 14% !important;
                    vertical-align: middle;
                }

             max-width: 20rem;


            }
        }
    }
  }