@font-face {
  font-family: "Matter SQ TRIAL";
  src: url(../assets/fonts/MatterSQTRIAL-LightItalic.woff2) format("woff2"), url(../assets/fonts/MatterSQTRIAL-LightItalic.woff) format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Matter SQ TRIAL";
  src: url(../assets/fonts/MatterSQTRIAL-Heavy.woff2) format("woff2"), url(../assets/fonts/MatterSQTRIAL-Heavy.woff) format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Matter SQ TRIAL";
  src: url(../assets/fonts/MatterSQTRIAL-BoldItalic.woff2) format("woff2"), url(../assets/fonts/MatterSQTRIAL-BoldItalic.woff) format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Matter SQ TRIAL";
  src: url(../assets/fonts/MatterSQTRIAL-HeavyItalic.woff2) format("woff2"), url(../assets/fonts/MatterSQTRIAL-HeavyItalic.woff) format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Matter SQ TRIAL";
  src: url(../assets/fonts/MatterSQTRIAL-Light.woff2) format("woff2"), url(../assets/fonts/MatterSQTRIAL-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Matter SQ TRIAL";
  src: url(../assets/fonts/MatterSQTRIAL-Bold.woff2) format("woff2"), url(../assets/fonts/MatterSQTRIAL-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Matter TRIAL";
  src: url(../assets/fonts/MatterTRIAL-Light.woff2) format("woff2"), url(../assets/fonts/MatterTRIAL-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Matter TRIAL";
  src: url(../assets/fonts/MatterTRIAL-BoldItalic.woff2) format("woff2"), url(../assets/fonts/MatterTRIAL-BoldItalic.woff) format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Matter SQ TRIAL";
  src: url(../assets/fonts/MatterSQTRIAL-RegularItalic.woff2) format("woff2"), url(../assets/fonts/MatterSQTRIAL-RegularItalic.woff) format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Matter TRIAL";
  src: url(../assets/fonts/MatterTRIAL-Medium.woff2) format("woff2"), url(../assets/fonts/MatterTRIAL-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Matter SQ TRIAL";
  src: url(../assets/fonts/MatterSQTRIAL-MediumItalic.woff2) format("woff2"), url(../assets/fonts/MatterSQTRIAL-MediumItalic.woff) format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Matter SQ TRIAL";
  src: url(../assets/fonts/MatterSQTRIAL-Regular.woff2) format("woff2"), url(../assets/fonts/MatterSQTRIAL-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Matter TRIAL";
  src: url(../assets/fonts/MatterTRIAL-MediumItalic.woff2) format("woff2"), url(../assets/fonts/MatterTRIAL-MediumItalic.woff) format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Matter SQ TRIAL";
  src: url(../assets/fonts/MatterSQTRIAL-SemiBold.woff2) format("woff2"), url(../assets/fonts/MatterSQTRIAL-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Matter TRIAL";
  src: url(../assets/fonts/MatterTRIAL-Bold.woff2) format("woff2"), url(../assets/fonts/MatterTRIAL-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Matter TRIAL";
  src: url(../assets/fonts/MatterTRIAL-Regular.woff2) format("woff2"), url(../assets/fonts/MatterTRIAL-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Matter TRIAL";
  src: url(../assets/fonts/MatterTRIAL-Heavy.woff2) format("woff2"), url(../assets/fonts/MatterTRIAL-Heavy.woff) format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Matter SQ TRIAL";
  src: url(../assets/fonts/MatterSQTRIAL-Medium.woff2) format("woff2"), url(../assets/fonts/MatterSQTRIAL-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Matter TRIAL";
  src: url(../assets/fonts/MatterTRIAL-HeavyItalic.woff2) format("woff2"), url(../assets/fonts/MatterTRIAL-HeavyItalic.woff) format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Matter TRIAL";
  src: url(../assets/fonts/MatterTRIAL-RegularItalic.woff2) format("woff2"), url(../assets/fonts/MatterTRIAL-RegularItalic.woff) format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Matter TRIAL";
  src: url(../assets/fonts/MatterTRIAL-LightItalic.woff2) format("woff2"), url(../assets/fonts/MatterTRIAL-LightItalic.woff) format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Matter SQ TRIAL";
  src: url(../assets/fonts/MatterSQTRIAL-SemiBoldItalic.woff2) format("woff2"), url(../assets/fonts/MatterSQTRIAL-SemiBoldItalic.woff) format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Matter TRIAL";
  src: url(../assets/fonts/MatterTRIAL-SemiBold.woff2) format("woff2"), url(../assets/fonts/MatterTRIAL-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Matter TRIAL";
  src: url(../assets/fonts/MatterTRIAL-SemiBoldItalic.woff2) format("woff2"), url(../assets/fonts/MatterTRIAL-SemiBoldItalic.woff) format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "neue";
  src: url(../assets/fonts/Neue-Plak-Extended-Regular.f7d043f6.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "druk";
  src: url(../assets/fonts/Druk-Text-Wide-Bold.db9e48ee.woff) format("woff");
}
@font-face {
  font-family: "integral";
  src: url(../assets/fonts/Integral-CF-Regular.e801d2be.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "integral";
  src: url(../assets/fonts/Integral-CF-ExtraBold.12e9b8ee.woff) format("woff");
  font-weight: 800;
  font-style: normal;
}
section.thumbnail-section {
  font-family: "Matter SQ TRIAL", sans-serif !important;
}
section.thumbnail-section .thumbnail {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 220px;
  cursor: pointer;
  position: relative;
}
section.thumbnail-section .thumbnail img.gif {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.thumbnail-section .thumbnail .card--star {
  position: absolute;
  top: 30px;
  right: 34px;
}
section.thumbnail-section .thumbnail .card-details {
  position: absolute;
  bottom: 30px;
  left: 34px;
  margin-top: 1rem;
}
section.thumbnail-section .thumbnail .card-details .card-row-1 {
  display: flex;
  justify-content: space-between;
}
section.thumbnail-section .thumbnail .card-details .card-row-1 > h1 {
  font-size: 0.75rem;
  font-weight: 400;
}
section.thumbnail-section .thumbnail .card-details .card-row-1 > a {
  font-weight: 700;
  mix-blend-mode: difference;
  color: white;
  letter-spacing: -0.01rem;
}
section.thumbnail-section .thumbnail .card-details .card-row-1 > p {
  font-size: 0.75rem;
  font-weight: 700;
}
section.thumbnail-section .thumbnail .card-details .card-row-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 0.625em;
  margin-bottom: 0.625em;
}
section.thumbnail-section .thumbnail .card-details .card-rating > svg:not(:first-child) {
  margin-left: 0.5em;
}

.gif-wrapper {
  margin-bottom: 3.375rem;
}

.gif-data-container {
  max-width: 93%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  grid-auto-rows: 220px;
  grid-gap: 12px;
}

/*# sourceMappingURL=gifs-thumbnail.css.map */
