/* Header Navigation */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 3rem;
  z-index: 100;
  mix-blend-mode: difference;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-logo {
    font-size: 0.875rem;
    font-weight: 500;
    color: white;
    font-family: var(--font-mono);
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease;
    text-decoration: none;
    display: inline-block;
  }

  .header-logo p {
    margin: 0;
  }

  /* .header-logo::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--color-text);
    z-index: -1;
    transition: width 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  } */

  .header-logo:hover::after {
    width: 100%;
  }

  .header-logo:hover {
    color: #222220;

  }

  .header-logo.active {
    color: #222220;
  }

  .header-logo.active::after {
    width: 100%;
  }
}

.nav {
  display: flex;
  gap: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: white;
  
}

.nav a {
  position: relative;
  cursor: pointer;
  color: var(--color-text);
  padding: 0.5rem 1rem;
  display: inline-block;
  z-index: 1;
  text-decoration: none;
  font-family: var(--font-mono);
  font-size: 0.875rem;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.nav a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(1rem - 10px);
  width: calc(100% - 2rem);
  height: 24px;
  background-color: #f72f2f;
  z-index: -1;
  transform: translate(0, -50%) scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  mix-blend-mode: none !important;
}

.nav a:hover::after {
  transform: translate(0, -50%) scaleX(1);
  mix-blend-mode: none !important;

}

.nav a:hover span {
  color: #222220;
}

.nav a.active {
    font-weight: 700;
}

.nav a.active::after {
  transform: translate(0, -50%) scaleX(var(--square-scale, 0.2));
  mix-blend-mode: none !important;
}

/* Click and Exit Animation States */
.nav a.is-clicking::after {
  transform-origin: right center;
  transform: translate(0, -50%) scaleX(0);
  left: 1rem;
  transition: transform 0.17s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav a.is-exiting::after {
  transform-origin: left center;
  transform: translate(0, -50%) scaleX(0);
  left: calc(1rem - 10px);
  transition: transform .25s ease-in-out;
}

.nav a:not(.is-clicking):not(.is-exiting)::after {
  transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}
