@font-face {
  font-family: "Matter SQ TRIAL";
  src: url(../assets/fonts/MatterSQTRIAL-LightItalic.woff2) format("woff2"), url(../assets/fonts/MatterSQTRIAL-LightItalic.woff) format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Matter SQ TRIAL";
  src: url(../assets/fonts/MatterSQTRIAL-Heavy.woff2) format("woff2"), url(../assets/fonts/MatterSQTRIAL-Heavy.woff) format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Matter SQ TRIAL";
  src: url(../assets/fonts/MatterSQTRIAL-BoldItalic.woff2) format("woff2"), url(../assets/fonts/MatterSQTRIAL-BoldItalic.woff) format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Matter SQ TRIAL";
  src: url(../assets/fonts/MatterSQTRIAL-HeavyItalic.woff2) format("woff2"), url(../assets/fonts/MatterSQTRIAL-HeavyItalic.woff) format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Matter SQ TRIAL";
  src: url(../assets/fonts/MatterSQTRIAL-Light.woff2) format("woff2"), url(../assets/fonts/MatterSQTRIAL-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Matter SQ TRIAL";
  src: url(../assets/fonts/MatterSQTRIAL-Bold.woff2) format("woff2"), url(../assets/fonts/MatterSQTRIAL-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Matter TRIAL";
  src: url(../assets/fonts/MatterTRIAL-Light.woff2) format("woff2"), url(../assets/fonts/MatterTRIAL-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Matter TRIAL";
  src: url(../assets/fonts/MatterTRIAL-BoldItalic.woff2) format("woff2"), url(../assets/fonts/MatterTRIAL-BoldItalic.woff) format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Matter SQ TRIAL";
  src: url(../assets/fonts/MatterSQTRIAL-RegularItalic.woff2) format("woff2"), url(../assets/fonts/MatterSQTRIAL-RegularItalic.woff) format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Matter TRIAL";
  src: url(../assets/fonts/MatterTRIAL-Medium.woff2) format("woff2"), url(../assets/fonts/MatterTRIAL-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Matter SQ TRIAL";
  src: url(../assets/fonts/MatterSQTRIAL-MediumItalic.woff2) format("woff2"), url(../assets/fonts/MatterSQTRIAL-MediumItalic.woff) format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Matter SQ TRIAL";
  src: url(../assets/fonts/MatterSQTRIAL-Regular.woff2) format("woff2"), url(../assets/fonts/MatterSQTRIAL-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Matter TRIAL";
  src: url(../assets/fonts/MatterTRIAL-MediumItalic.woff2) format("woff2"), url(../assets/fonts/MatterTRIAL-MediumItalic.woff) format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Matter SQ TRIAL";
  src: url(../assets/fonts/MatterSQTRIAL-SemiBold.woff2) format("woff2"), url(../assets/fonts/MatterSQTRIAL-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Matter TRIAL";
  src: url(../assets/fonts/MatterTRIAL-Bold.woff2) format("woff2"), url(../assets/fonts/MatterTRIAL-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Matter TRIAL";
  src: url(../assets/fonts/MatterTRIAL-Regular.woff2) format("woff2"), url(../assets/fonts/MatterTRIAL-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Matter TRIAL";
  src: url(../assets/fonts/MatterTRIAL-Heavy.woff2) format("woff2"), url(../assets/fonts/MatterTRIAL-Heavy.woff) format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Matter SQ TRIAL";
  src: url(../assets/fonts/MatterSQTRIAL-Medium.woff2) format("woff2"), url(../assets/fonts/MatterSQTRIAL-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Matter TRIAL";
  src: url(../assets/fonts/MatterTRIAL-HeavyItalic.woff2) format("woff2"), url(../assets/fonts/MatterTRIAL-HeavyItalic.woff) format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Matter TRIAL";
  src: url(../assets/fonts/MatterTRIAL-RegularItalic.woff2) format("woff2"), url(../assets/fonts/MatterTRIAL-RegularItalic.woff) format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Matter TRIAL";
  src: url(../assets/fonts/MatterTRIAL-LightItalic.woff2) format("woff2"), url(../assets/fonts/MatterTRIAL-LightItalic.woff) format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Matter SQ TRIAL";
  src: url(../assets/fonts/MatterSQTRIAL-SemiBoldItalic.woff2) format("woff2"), url(../assets/fonts/MatterSQTRIAL-SemiBoldItalic.woff) format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Matter TRIAL";
  src: url(../assets/fonts/MatterTRIAL-SemiBold.woff2) format("woff2"), url(../assets/fonts/MatterTRIAL-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Matter TRIAL";
  src: url(../assets/fonts/MatterTRIAL-SemiBoldItalic.woff2) format("woff2"), url(../assets/fonts/MatterTRIAL-SemiBoldItalic.woff) format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "neue";
  src: url(../assets/fonts/Neue-Plak-Extended-Regular.f7d043f6.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "druk";
  src: url(../assets/fonts/Druk-Text-Wide-Bold.db9e48ee.woff) format("woff");
}
@font-face {
  font-family: "integral";
  src: url(../assets/fonts/Integral-CF-Regular.e801d2be.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "integral";
  src: url(../assets/fonts/Integral-CF-ExtraBold.12e9b8ee.woff) format("woff");
  font-weight: 800;
  font-style: normal;
}
.nav-section {
  position: sticky;
  padding: 2.7em 0;
  max-width: 93%;
  margin: 0 auto;
}
.nav-section .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-section .nav-links .brand-logo-2-container {
  display: none;
}
.nav-section .nav-links .nav-routes-container {
  display: flex;
}
.nav-section .nav-links .nav-routes-container .side-bar-link:not(:first-child) {
  margin-left: 3em;
}
.nav-section .nav-links .nav-routes-container a.side-bar-link {
  color: #434343;
  text-decoration: none;
}
.nav-section .nav-links .nav-rhs button.button {
  border: 0;
  padding: 1em 1.875em;
  font-size: 1rem;
  border-radius: 10px;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  color: #FFFFFF;
  cursor: pointer;
}
.nav-section .nav-links .nav-rhs .menu-container {
  display: none;
}

@media screen and (max-width: 890px) {
  .nav-section .nav-links .brand-logo {
    display: block;
  }
  .nav-section .nav-links .nav-routes-container {
    display: none;
  }
  .nav-section .nav-links .nav-rhs {
    display: flex;
    align-items: center;
  }
  .nav-section .nav-links .nav-rhs .menu-container {
    margin-left: 1.5rem;
    display: flex;
  }
}

/*# sourceMappingURL=layout.css.map */
