---
// Header component for all pages
---

<header class="header" id="main-header">
	<a href="/" class="header-logo">
		<p>DNX.HOME</p>
	</a>
	<nav class="nav">
		<a href="/#projects">PRJT.WORK</a>
		<a href="/#about">AB.ME</a>
		<a href="/#contact">CT.MAIL</a>
	</nav>
</header>
